{% extends 'designstore/main.html' %}
{% load static %}
{% block content %}
    <h3>Sample of our Designs </h3>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-6">
          <h4>Product 1</h4>
          <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
          <div class="product">
            <h6><strong>JM Motors Testimonial</strong></h6>
            <p>Loved the Logo DM Design produced for us!!</p>
            <hr>
    
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6">
            <h4>Product 1</h4>
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="product">
              <h6><strong>JM Motors Testimonial</strong></h6>
              <p>Loved the Logo DM Design produced for us!!</p>
              <hr>
      
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-6">
            <h4>Product 1</h4>
            <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
            <div class="product">
              <h6><strong>JM Motors Testimonial</strong></h6>
              <p>Loved the Logo DM Design produced for us!!</p>
              <hr>
      
            </div>
        </div>
    </div>
   
{% endblock content %}



