{% extends 'designstore/main.html' %}
{% load static %}
{% block content %}
    <h3>Sample of our Designs </h3>
    <div class="row">
      {% for product in products %}
        <div class="col-lg-4 col-sm-6 col-6">
          <img class="thumbnail" src="{{ product.image.url }}">
          <div class="product">
            <h6><strong>{{ product.name }}</strong></h6>
            <p>Loved the Logo DM Design produced for us!!</p>
            <hr>
            <a class="btn btn-outline-secondary" href="{% url 'viewitem' %}">View</a>
          </div>
        </div>
        {% endfor %}
        
    </div>
   
{% endblock content %}



