body{
    background-color: #87cefa;
}

.thumbnail{
	width: 100%;
	height: 200px;
}

.product{
	border-radius: 0 0 4px 4px;
  margin-top: 5px;
}

.btn{
  color: white;
  background-color: grey;
  margin-bottom: 20px;
}
